<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>ig-backend.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %date %-5level %logger{35} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>
</configuration>