{% extends "base.html" %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="page-header">
            <h1>Request</h1>
        </div>
        <div class="container">
            <div class="col-md-4 col-md-offset-4 well">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="label label-default" style="display: none;">
                            {{ field.label_tag }}
                        </div>
                        {{ field }}
                    {% endfor %}
                    <input type="submit" class="btn btn-info btn-block" value="Send"  />
                </form>
            </div>
        </div>

        <br>
        <div class="page-header">
              <h1>Response</h1>
        </div>
        <div name="div_response" id="div_response">
            No answer.
        </div>

        <script type="text/javascript">
        $(document).ready(function(){
            $('#server_id').prev().show()
            $('#port_id').prev().show()
            $('#task_id').prev().show()
            $('#group_id').prev().show()
            var form = $("#request_form");
            form.submit(function(event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "{% url 'igtasks:send_request' %}",
                    data: form.serialize(),
                    success: function (response) {
                        var response_json = JSON.stringify(response)
                        console.log(response_json)
                        $("#div_response").html(response_json);
                    }
                });

                return false;
            });
        });

        $('#task_id').change(function() {
            if (this.value == '1') {
                $('#input_file_id').show();
                $('#input_file_id').prev().show();//label
                $('#model_path_id').show();
                $('#model_path_id').prev().show();
                $('#out_dir_id').show();
                $('#out_dir_id').prev().show();
                $('#group_id').hide();
                $('#group_id').prev().hide();
                $('#comment_id').hide();
                $('#comment_id').prev().hide();
                $('#algo_id').hide();
                $('#algo_id').prev().hide();
                $('#algo_params_id').hide();
                $('#algo_params_id').prev().hide();
                $('#avg_window_size_id').show();
                $('#avg_window_size_id').prev().show();
                $('#ml_window_size_id').show();
                $('#ml_window_size_id').prev().show();
                $('#merge_threshold_id').show();
                $('#merge_threshold_id').prev().show();
            } else if (this.value == '2') {
                $('#input_file_id').show();
                $('#input_file_id').prev().show();
                $('#model_path_id').hide();
                $('#model_path_id').prev().hide();
                $('#out_dir_id').show();
                $('#out_dir_id').prev().show();
                $('#group_id').show();
                $('#group_id').prev().show();
                $('#comment_id').show();
                $('#comment_id').prev().show();
                $('#algo_id').show();
                $('#algo_id').prev().show();
                $('#algo_params_id').show();
                $('#algo_params_id').prev().show();
                $('#avg_window_size_id').hide();
                $('#avg_window_size_id').prev().hide();
                $('#ml_window_size_id').show();
                $('#ml_window_size_id').prev().show();
                $('#merge_threshold_id').hide();
                $('#merge_threshold_id').prev().hide();
            } else if (this.value == '3') {
                $('#input_file_id').hide();
                $('#input_file_id').prev().hide();
                $('#model_path_id').hide();
                $('#model_path_id').prev().hide();
                $('#out_dir_id').hide();
                $('#out_dir_id').prev().hide();
                $('#group_id').show();
                $('#group_id').prev().show();
                $('#comment_id').hide();
                $('#comment_id').prev().hide();
                $('#algo_id').hide();
                $('#algo_id').prev().hide();
                $('#algo_params_id').hide();
                $('#algo_params_id').prev().hide();
                $('#avg_window_size_id').hide();
                $('#avg_window_size_id').prev().hide();
                $('#ml_window_size_id').hide();
                $('#ml_window_size_id').prev().hide();
                $('#merge_threshold_id').hide();
                $('#merge_threshold_id').prev().hide();
            }
        });

        </script>
    {% else %}
        {% include 'main/not_auth.html' %}
    {% endif %}

{% endblock %}