{% extends "base.html" %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Backend ID</th>
            <th>Тип запроса</th>
            <th>Input FASTA</th>
            <th>Input KABAT</th>
            <th>Model path</th>
            <th>Output dir</th>
            <th>Group</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr>
            <td>{{ task.backend_id }}</td>
            <td>{{ task.task }}</td>
            <td>{{ task.input_file_fasta }}</td>
            <td>{{ task.input_file_kabat }}</td>
            <td>{{ task.model_path }}</td>
            <td>{{ task.out_dir }}</td>
            <td>{{ task.group }}</td>
            <td>{{ task.comment }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
    $("tr").mouseover(function(){
        var backend_id = $(this).find("td:first").html()
        event.preventDefault();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{% url 'igtasks:ask_backend' %}",
            data: {"id": backend_id},
            success: function (response) {
                $("#backend_response").html(response);
            }
        });
        return false;
    });
</script>
<div id="backend_response">
    Backend response here
</div>
{% endblock %}