{% extends "base.html" %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="page-header">
            <h1>Request</h1>
        </div>
        <div class="container">
            <div class="col-md-4 col-md-offset-4 well">
                <form action="" id="request_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for form in forms %}
                        <h2>{{ form.name.label_tag }}</h2>
                        {{ form }}
                    {% endfor %}
                    <select id="tools_select" name="tools_select">
                        {% for tool in tools %}
                            <option value="{{ tool.tool_name }}">{{ tool.tool_name }}</option>
                        {% endfor %}
                    </select>

                    <input type="submit" class="btn btn-warning" name="btn_add" value="Add Selected"/>
                    <input type="submit" class="btn btn-danger" name="btn_delete" value="Delete Last"/>
                    <input type="submit" class="btn btn-info btn-block" name="btn_start" value="Start"/>
                </form>
            </div>
        </div>

        <br>
        <div class="page-header">
            <h1>Response</h1>
            {{ response }}
        </div>

        <div class="page-header">
            <h1>Your tasks</h1>
            <a href="/tasks/">are here</a> or in Manage -> Results
        </div>
        <script type="text/javascript">
            $.validate();
        </script>
    {% else %}
        {% include 'main/not_auth.html' %}
    {% endif %}

{% endblock %}